# electron-builder 二进制工具镜像（winCodeSign/nsis等）
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# Electron 运行时镜像
electron_mirror=https://npmmirror.com/mirrors/electron/